.authdiv{
  background-color: black;
  /* background-image : url("https://yiche-static.oss-accelerate.aliyuncs.com/images/2021-02-01/a0eeb1cc.gif"); */
}

.authform{
  background-color: rgb(0, 0, 0);
}

.textfieldClass{
  color: aliceblue;
}